@media screen and (min-width: 1024px){

	.icon {
		/*background-image: url('../img/logo_seven.png');*/
		/*background-repeat: no-repeat;
		background-size: 15px ;*/
		border-radius: 50%;
		margin-left: 0.2em;
		margin-top: 0.2em;
		/*height: 15%;*/
		width: 2.7em;
	}							
}

@media screen and (max-width: 780px){
	.icon {
		/*background-image: url('../img/logo_seven.png');*/
		/*background-color: rgba(2, 48, 119, 0.64);*/
		/*background-size: 22px auto;*/
		border-radius: 50%;
		margin-left: 0.2em;
		margin-top: 1.2em;
		/*height: 15%;*/
		width: 2.7em;
	}	

	.icon_rodape {
		/*background-image: url('../img/logo_seven.png');*/
		/*background-color: rgba(2, 48, 119, 0.64);*/
		/*background-size: 22px auto;*/
		border-radius: 50%;
		margin-left: 1em;
		margin-top: 0em;
		/*height: 15%;*/
		width: 2.7em;
	}		
 /*style="background-color: rgba(2, 48, 119, 0.64); width:100%";*/

 /* menu
 style="margin-left: 67%; margin-top: -55px; position: absolute;"
 */
	
}
