<?xml	version="1.2"	encoding="UTF-8"?>
<widgets 	xmlns="http://www.w3.org/ns/widgets"
	 	xmlns:gap="http://phonegap.com/ns/1.2"
		id="cadastropessoasapp"
		version="1.0.2">
<name>
		Cadastro de Pessoas
</name>
<description>
		Cadastro de Pessoas
</description>
<author	href="https://github.com/josuellions/JL_PhoneGap_2017"	
		email="josuel_lions@hotmail.com">
		Josuel A. Lopes - Seven Soluctions Tecnologic
</author>

</widget>
